@import "compass/css3";
@import "compass/css3/images";
@import "compass/utilities/color";

@import "reset";
@import "base";
@import "common";

body {
  background: url("../images/noise_1.png");
}

#stream {
  padding-top: 4em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, .5);
  .tile {
    position: relative;
    margin: 1em;
    display: inline-block;
    .page {
      display: block;
      margin-bottom: 1em;
      a {
        font-weight: bold;
      }
    }
    .domain {
      float: right;
      .favicon {
        margin-left: .5em;
      }
    }
    .control {
      display: block;
      text-align: right;
      float: right;
      margin-bottom: .7em;
      font-size: 1em;
      font-weight: bold;
      opacity: .5;
      a {
        @include transition-property(opacity);
        @include transition-duration(.14s);
        @include transition-timing-function(ease-in);
        opacity: 0;
      }
      &:hover {
        opacity: .8;
      }
      .fave {
        background-image: url("../images/fave_2.png"); 
      }
      .goto {
        @include linkbutton_right;
        float: right;
        background-image: url("../images/goto_2.png"); 
      }
      .flag {
        background-image: url("../images/flag_4.png"); 
      }
    }    
    .sidepanel {
      position: absolute;
      left: 0;
      top: 0;
      margin-right: 1em;
      .avablock {
        margin-bottom: .5em;
        img {
          border-radius: .2em;
          @include smallshadow;
          opacity: .7;
          width: 4em;
          height: 4em;
        }
      }
    }
    .metadata {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: .5em;
      display: inline-block;
      clear: none;
    }
    &:hover {
      .goto {
        opacity: 1 !important;
      }
      .ava {
        opacity: 1 !important;
      }
    }
    .papercontainer {
      margin-left: 5em;
      float: left;
    }
    .hyp-paper {
      @include pie-clearfix;
    }

    .favicon {
      width: 16px;
    }

    .hyp-annotation {
      margin-bottom: 0;
      padding-left: 1em;
    }
  }
}

.hyp-excerpt {
  width: 50%;
  float: left;
  blockquote {
    margin-bottom: 1em;
  }
}

.hyp-paper > .hyp-annotation {
  float: left;
  width: 50%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background: white;
  border-bottom: 1px solid $gray-lighter;
  .inner {
    @include pie-clearfix;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
  }
  .barbutton {
    font-size: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    border-left: 1px solid $gray-lighter;
    border-right: 1px solid $gray-lighter;
    height: 3em;
    display: inline-block;
    cursor: pointer;
    &.right {
      float: right;
      border-right: none;
    }
    &.left {
      float: left;
      border-left: none;
    }
    &:hover {
      @include inset-smallshadow(0px, 1px, .1);
    }
    &:active {
      @include inset-smallshadow(0px, 2px, .1);
    }
  }
  .title {
    font-size: 2em;
  }
}