%script{:id => "replies-template.html", :type => "text/ng-template"}
  %a.hyp-threadexp{:href => "#collapse"}
  .topbar
    .hyp-user {{reply.username}}
    .hyp-time {{reply.time}}
  .hyp-content {{reply.text}}
  .hyp-thread
    / {{reply.children.length}} replies
    %ul.annotator-listing
      %li.hyp-annotation.hyp-detail{"ng-include" => "'replies-template.html'", "ng-repeat" => "reply in reply.children"}