- content_for :head do
  %title Standalone

= partial "annotations-template.haml"

= partial "replies-template.haml"

%ul
  %li{"ng-include" => "'annotations-template.html'", "ng-repeat" => "annotation in annotations"}