- content_for :head do
  %title Standalone

= partial "annotations-template.haml"

= partial "replies-template.haml"

#stream
  %ul.annotator-listing.annotator-widget
    %li.tile{"ng-include" => "'annotations-template.html'", "ng-repeat" => "annotation in annotations"}